body {
	border: 0;
	margin: 0;
	padding: 0;
}
a {
	color: #FFF;
	box-shadow: none;
	justify-content: center;
	line-height: 20vw;
	text-align: center;
	text-decoration: none;
}

.button_area {
	position:  fixed;
	bottom: 0;
	width: 100%;
	margin-bottom: 5vw;
}

.button_wrapper {
	display: flex;
	justify-content: center;
}


.pop {
	display: none;
}

.big_bubble {
	background-color: blue;
	width: 20vw;
	height: 20vw;
	border-radius: 10vw;
	font-weight: bold;
	/*max-width: 100px;
	max-height: 100px; */
	
}

.small_bubble {
	background-color: navy;
	/*width: 10vw;
	height: 10vw;
	border-radius: 5vw;*/
	/*max-width: 33px;
	max-height: 33px;*/

	width: 20vw;
	height: 20vw;
	border-radius: 10vw;

}